// app global css in SCSS form
.q-tab__label {
  text-transform: none;
}

.q-layout {
  background-color: $grey-1;
}

.rounded-borders {
  border-radius: 10px;
}

.q-toolbar {
  padding: 0 15px;
}

.q-layout-padding {
  @media (max-width: $breakpoint-sm) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

body {
  font-family: poppins;
}

@font-face {
  font-family: poppins;
  src: url(../assets/font/Poppins-Regular.ttf);
}

.text-underline {
  text-decoration: underline;
}

.q-notifications__list--bottom {
  bottom: 110px;
}

.q-carousel__control .q-btn {
  background-color: rgba(0, 0, 0, 0.2);
}
